body {
    background-color: gray;
}


.col {
    background-color: green;
    height: 150px;
}

.col-8{
    background-color: yellow;
    height: 150px;
}

.col-4 {
    background-color: blue;
    height: 150px;
}


.col-md-8{
    background-color: rgb(155, 82, 155);
    height: 500px;
    margin-top: 30px;
}

.col-md-4 {
    background-color: black;
    height: 200px;
    margin-top: 30px;
}